.header {
    display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
    color: white;
    width: 50%;
    height: 450px;
    font-size: 3em;
    top: 40vh;
    bottom: 0px;
    left: 1-px;
    right: 0px;
    transition: .3s;
	margin: auto;
}
